.card {
	position: relative;
	width: 600px;
	padding: 20px;
	max-width: 85vw;
	height: 50vh;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card > h3 {
	position: absolute;
	bottom: 10px;
	color: white;
}

.tinderCards__cardContainer {
	display: flex;
	justify-content: center; /* We justify content center and make position absolute to stack them on top of each other */
	margin-top: 5vh;
}

/* vh stands for View Height and it is used to be a percentage of the device that you're on */

.swipe {
	position: absolute;
}

